*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    overflow-x: hidden;
    background: rgb(230, 230, 230);
}

.container{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*Header do meu site*/
header{
    background-image: url('../Imagens/background2.jpg');
    min-height: 450px;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
}

.logo{
    background-image: url('../Imagens/logo.png');
    background-size: 100% 100%;
    float: left;
    width: 132px;
    height: 100px;
    position: relative;
    top: -40px;
    z-index: 2;
}

nav.desktop{
    float: right;
}

nav.mobile{
    display: none;
    float: right;
}

nav.mobile ul{
    display: none;
    background: #31475e;
    position: absolute;
    left: 0;
    top: 0;
    padding: 70px 0 30px 0;
    width: 100%;
    text-align: center;
}

nav.mobile h3{
    color: white;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    z-index: 2;
}

nav.mobile li{
    padding: 10px 0;
}

nav.mobile li.btn-nav{
    display: inline-block;
    padding: 4px 10px;
}

nav.mobile a{
    color: white;
    text-decoration: none;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop li{
    display: inline-block;
    margin: 0 15px;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav li.btn-nav{
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid white;
}

div.chamada{
    padding: 110px 0;
}

div.chamada h2{
    font-size: 47px;
    color: white;
    font-weight: normal;
}

div.chamada p{
    font-size: 17px;
    color: white;
    margin-top: 10px;
    max-width: 600px;
}

div.chamada form{
    margin-top: 10px;
}

div.chamada input[type=email]{
    display: inline-block;
    border-radius: 100px;
    background: white;
    width: 237px;
    height: 35px;
    border: 0;
    padding-left: 10px;
}

div.chamada input[type=email]:focus{
    outline: 0;
}

div.chamada input[type=submit]{
    width: 181px;
    height: 43px;
    border-radius: 100px;
    background-color: #ff5f27;
    color: white;
    cursor: pointer;
    border: 0;
}

section.descricao{
    text-align: center;
    padding: 30px 0;
}

section.descricao p{
    font-weight: lighter;
    font-size: 22px;
    font-style: italic;
    display: inline-block;
    max-width: 680px;
}

section.descricao2{
    padding: 50px 0;
}

section.descricao2 > .container{
    max-width: 980px;
}

.texto{
    float: left;
    width: 55%;
    padding: 0 15px;
}

section.descricao2 img{
    float: left;
    max-width: 500px;
    width: 45%;
}

.texto h3{
    color: #31475e;
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
}

.texto p{
    color: #6a7c92;
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
}

section.descricao3{
    padding: 30px 0 60px 0;
}

section.descricao3 > .container{
    max-width: 960px;
    background-image: url("../Imagens/background1.jpg");
    background-size: cover;
    min-height: 350px;
    position: relative;
}

.box{
    position: absolute;
    right: 100px;
    width: 60%;
    max-width: 506px;
    background: white;
    padding: 10px 30px;
    bottom: -20px;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
}

.box p{
    font-size: 18px;
    color: #31475e;
    font-weight: lighter;
}

section.servicos{
    padding: 25px 0;
}

section.servicos > .container{
    max-width: 1100px;
}

.title{
    text-align: center;
}

.title h3{
    color: #31475e;
    font-size: 22px;
    font-weight: normal;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.box2{
    width: 33.3%;
    background-color: #ffffff;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
    border-radius: 3px;
    background: white;
    border: 10px solid rgb(230, 230, 230);
}

.box2 img{
    width: 100%;
    border-radius: 3px;
}

.wraper{
    padding: 20px;
}

.wraper h2{
    color: #31475e;
    font-size: 20px;
    font-weight: normal;
}

.wraper p{
    font-weight: lighter;
    color: #6a7c92;
    font-size: 15px;
    margin: 8px 0;
    line-height: 1.6;
}

.wraper a{
    display: inline-block;
    border: 1px solid #6a7c92;
    color: #6a7c92;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 20px;
}

@media screen and (max-width: 1024px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    div.chamada{
        text-align: center;
    }

    div.chamada input[type=email]{
        margin-bottom: 10px;
    }

    div.chamada p{
        display: inline-block;
    }
}

@media screen and (max-width:768px){
    .texto{
        width: 100%;
        display: block;
        float: none;
    }

    section.descricao2 img{
        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
        max-width: 500px;
        margin-top: 10px;
    }

    .box2{
        width: 50%;
    }
}

@media screen and (max-width:520px){
    .box2{
        width: 100%;
    }
}